# -----------------------------
# Dataset
# -----------------------------
dataset/
dataset.zip

# -----------------------------
# Trained Models
# -----------------------------
models/*.keras
models/*.h5
models/*.pt

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Node / Next.js
# -----------------------------
node_modules/
.next/
out/
*.tsbuildinfo

# -----------------------------
# Virtual Environments
# -----------------------------
.venv/
venv/
env/
ENV/

# -----------------------------
# Environment Variables
# -----------------------------
.env
.env.*

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log
